car_showroom {
    display: block;
    font-family: sans-serif;
    padding: 20px;
    background: #f0f8ff;
  }
  
  car {
    display: block;
    border: 2px solid #444;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #e6f7ff;
  }
  
  model {
    display: block;
    font-weight: bold;
    color: navy;
    font-size: 18px;
  }
  
  price {
    display: block;
    color: green;
    margin-top: 5px;
  }
  
  color {
    display: block;
    color: #444;
    font-style: italic;
  }
  